.btn.radiobtn.btn-default.active {
  background-color:#337ab7;
  border-color:#337ab7;
  font-weight:bold;
  color:white;
}

.container-fluid {
  margin:auto;
  max-width: 1000px
}

#results {
  max-width:620px;

}

#input_col {
  max-width:380px;
}

#user_age {
  font-size:38px;
  height:50px;
  width: 110px;
}
